<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="chat.css">
    <script src="public/extension/jquery-3.7.1.min.js"></script>
    <script src="index.js"></script>
    <script src="chatbotPageFunction.js"></script>
    <title>ClipBuddy에 오신 것을 환영합니다.</title>

</head>
<body>
    <div>
        <header>
            <div class="sticky-wrapper" style="min-height: 70px;">
                <a href="index.html">
                    <img src="public/images/logo.svg" alt="">
                </a>
            </div>
            
        </header>

        <!-- 헤더 제외 부분 -->
        <div class="main-content">
            <!-- 네비게이터 부분 -->
            <div class="navigator">
                <!-- 신규 채팅 래퍼 -->
                <div class="new-chat-wrapper">
                    <!-- 신규 채팅 버튼 -->
                    <a class="new-chat-button" href="chatbotPageTalking.html">
                        <!-- 신규 채팅 아이콘 영역 -->
                        <div class="new-chat-icon-wrapper">
                            <div class="upload-icon-div-25 icon-gray new-chat-icon"></div>
                        </div>
                        <!-- 신규 채팅 글자 영역 -->
                        <div class="new-chat-text-wrapper">
                            <div class="new-chat-text">신규 채팅</div>
                        </div>
                    </a>
                </div>
                <!-- 기존 채팅 래퍼 -->
                <div class="exist-chat-wrapper">
                    <!-- 기존 채팅 제목 -->
                    <div class="exist-chat-title-wrapper">
                        <h4 class="exist-chat-title">대화 내역</h4>
                        <hr>
                    </div>
                    <!-- 기존 채팅 본문 -->
                    <div class="exist-chat-body-wrapper">
                        <div class="exist-chat-body"></div>
                    </div>
                </div>
            </div>
            
            <!-- 주요 콘텐츠 부분 -->
            <div class="main-content-inner">
                <div class="container chatPageContainer">
                    <!-- 사용자가 input을 통해 질의응답할 수 있는 부분의 래퍼 -->
                    <div class="question-wrapper chat-page-wrapper wrapper">
                        <div class="question-container chat-page-container">
                            <h2 class="big-title">영상 기반 질문 챗봇</h2>
                            <h4 class="small-title">이해한 영상을 기반으로 버디에게 무엇이든 물어보세요!</h4>
                            <div class="question-input-wrapper">
                                <div class="question-input-box">
                                    <textarea class="question-input" type="text" placeholder="영상 내용에서 궁금한 것을 질문해 주세요! "></textarea>
                                    <div class="question-submit-icon-box">
                                        <div class="question-submit-icon upload-icon-div-35 icon-gray"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 질문 예시 버튼 래퍼 -->
                    <div class="question-example-wrapper chat-page-wrapper">
                        <div class="question-example-container chat-page-container">
                            <h2 class="big-title">이런 질문은 어때요?</h2>
                            <div class="question-example-inner-container">
                                <div class="question-example-box">
                                    <h4 class="example-button-text">영상 내용을 요약해 줘.</h4>
                                </div>
                                <div class="question-example-box">
                                    <h4 class="example-button-text">영상 내용을 기반으로 퀴즈를 세 문제 만들어 줘.</h4>
                                </div>
                                <div class="question-example-box">
                                    <h4 class="example-button-text">영상 내용의 핵심이 되는 키워드를 세 개만 뽑아 줘.</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 추천 질문 래퍼 -->
                    <div class="question-recommend-wrapper chat-page-wrapper">
                        <div class="question-recommend-container chat-page-container">
                            <h2 class="big-title">이런 질문도 할 수 있어요!</h2>
                            <div class="question-recommend-box">
                                <div class="question-recommend">- OOO 수식이 잘 이해되지 않아. 조금 더 간단하게 설명해 줘.</div>
                                <div class="question-recommend">- △△의 사례는 영상에서 설명한 □□ 방식으로 적용할 수 있을까?</div>
                                <div class="question-recommend">- 영상을 보고 따라했지만 다음과 같은 에러를 마주했어. 해결책을 제시해 줘.</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
</html>