<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="chat.css">
    <script src="public/extension/jquery-3.7.1.min.js"></script>
    <script src="index.js"></script>
    <script src="chatbotPageTalkingFunction.js"></script>
    <title>ClipBuddy에 오신 것을 환영합니다.</title>
</head>
<body>
    <div>
        <header>
            <div class="sticky-wrapper" style="min-height: 70px;">
                <a href="index.html">
                    <img src="public/images/logo.svg" alt="">
                </a>
            </div>
        </header>

        <!-- 헤더 제외 부분 -->
        <div class="main-content">
            <!-- 네비게이터 부분 -->
            <div class="navigator">
                <!-- 신규 채팅 래퍼 -->
                <div class="new-chat-wrapper">
                    <!-- 신규 채팅 버튼 -->
                    <a class="new-chat-button" href="chatbotPageTalking.html">
                        <!-- 신규 채팅 아이콘 영역 -->
                        <div class="new-chat-icon-wrapper">
                            <div class="upload-icon-div-25 icon-gray new-chat-icon"></div>
                        </div>
                        <!-- 신규 채팅 글자 영역 -->
                        <div class="new-chat-text-wrapper">
                            <div class="new-chat-text">신규 채팅</div>
                        </div>
                    </a>
                </div>
                <!-- 기존 채팅 래퍼 -->
                <div class="exist-chat-wrapper">
                    <!-- 기존 채팅 제목 -->
                    <div class="exist-chat-title-wrapper">
                        <h4 class="exist-chat-title">대화 내역</h4>
                        <hr>
                    </div>
                    <!-- 기존 채팅 본문 -->
                    <div class="exist-chat-body-wrapper">
                        <div class="exist-chat-body"></div>
                    </div>
                </div>
            </div>
            
            <!-- 주요 콘텐츠 부분 -->
            <div class="main-content-inner">
                <div class="container chatPageContainer">
                    <!-- 채팅창 UI -->
                    <div class="chat_wrap chat-page-wrapper wrapper-1">
                        <div class="chat chat-page-container">
                            <ul class="chat-ul">
                                <!-- 동적 생성 -->
                            </ul>
                        </div>
                    </div>
                    <div class="chat_wrap chat-page-wrapper wrapper-2">
                        <div class="chat chat-page-container">
                            <div class="input-div ">
                                <textarea class="input-text" placeholder="Press Enter for send message."></textarea>
                            </div>
                        </div>
                        <!-- format -->
                        <div class="chat format">
                            <ul>
                                <li>
                                    <div class="sender">
                                        <span></span>
                                    </div>
                                    <div class="message">
                                        <span></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const userId = sessionStorage.getItem('user_id');
            if (userId) {
                console.log('User ID found:', userId);
                // 추가 작업 수행
            } else {
                console.log('No user ID found in session storage.');
                // 유저가 없을 경우에 대한 처리
            }
        });

        $(function() {
            Chat.init();
        });
    </script>


</body>
</html>